@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply transition 
    duration-150 
    ease-linear  
    block    
    shadow-sm
    sm:text-sm
    border-blue-200
    rounded-md;
  }

  .btn {
    @apply flex 
    justify-center 
    border 
    border-transparent
    rounded-md      
    focus:outline-none 
    focus:ring-2 
    focus:ring-offset-2
    transition-all;
  }

  .btn-blue {
    @apply text-white 
    bg-blue-600 
    hover:bg-blue-700 
    focus:ring-blue-500;
  }

  .card {
    @apply flex 
    flex-col 
    gap-4 
    p-4 
    rounded 
    overflow-hidden 
    shadow-lg 
    border;
  }

  .full {
    @apply w-full
    py-2 px-4
    text-sm
    font-medium;
  }

  .md {
    @apply w-1/2
    py-2 px-4
    text-sm
    font-medium;
  }
}
